@model IEnumerable<MVCTutorial.Models.Employee>

@{
    ViewBag.Title = "SecondPage";
    Layout = null;
}

<h2>Passing data from one action method to other action method </h2>

<h1> Data from Temp Data</h1>
@TempData["Message"]



